extends base/_layout
block head
    title акне
    meta(property="og:title" content='Мезотерапия в Пензе. Мезотерапия кожи лица, тела и волосистой части головы - "Orhi"')
    meta(name="keywords" content='мезотерапия, пенза, мезотерапия цена')
    meta(name="description" content='Мезотерапия в Пензе. Омоложение лица и тела ✅ Мгновенный результат ✅ Доступные цены ✅ Консультация косметолога. Узнай на сайте!')
    meta(property="og:description" content='Мезотерапия в Пензе. Омоложение лица и тела ✅ Мгновенный результат ✅ Доступные цены ✅ Консультация косметолога. Узнай на сайте!')
    meta(property="og:url" content='https://orhi-epil.ru/Mesotherapy.html')
block page
    section.intro-section
        .container
            .intro-section__wrapper
                .intro-section__breadcumps
                    +breadcrumbs([{text: 'Главная', link: 'index.html'}, {
                        text: 'ЛАЗЕРНАЯ КОСМЕТОЛОГИЯ',
                        link: 'laserCosmetology.html'
                    }], 'ЛЕЧЕНИЕ АКНЕ')
                .intro-section__inner
                    .intro-section__img
                        +setImg({
                            webp: 'images/content/AcneTreatment/0-pc.webp',
                            img: 'images/content/AcneTreatment/0-pc.jpg',
                            set: 'images/content/AcneTreatment/0-mb'
                        })
                    .intro-section__data
                        .intro-section__titles-wrapper
                            +sectionTitle({
                                title: 'Лечение акне',
                                class: 'intro-section__title',
                                subtitle: 'Что такое',
                                subclass: 'intro-section__subtitle'
                            })
                        .intro-section__text
                            p Вне распространенного убеждения, акне – это проблема отнюдь не только переходного возраста и периода гормональной перестройки организма во время полового созревания.
                            p Это заболевание, которое может проявляться и в юном, и в зрелом возрасте. Доставляет немало проблем и порождает комплексы.
                            p Для него характерно наличие открытых и закрытых комедонов, а также воспалительных элементов в виде пустул, папул, узлов. Чувство жжения, зуда, тянущее ощущение в местах воспалений – очень неприятны, не говоря уже о внешнем неэстетическом проявлении болезни.
                            p В развитии акне большую роль играет наследственность и генетически предопределенный тип секреции сальных желез.
                            p Однако это не значит, что проблема не поддается лечению.
                            p В борьбе с акне крайне важен комплексный подход и совместные усилия врача и пациента. Только в таком случае проблему можно решить эффективно.
                .intro-section__text(style="margin-top: 5rem")
                    p В медицинском центре «Orhi» опытные врачи-косметологи проводят программное лечение проблемы акне.
                    h3 Какие процедуры входят в терапевтический курс:

    section.selector
        .container
            .selector__sldier-wrapper
                .selector__arrow-wrapper
                    button.selector__arrow.selector__arrow-prev
                        +svgIcon({name: 'arrow--transparent'})
                    button.selector__arrow.selector__arrow-next
                        +svgIcon({name: 'arrow--transparent'})
                .selector__slider
                    .selector__slide
                        .selector__slide-inner.active(data-active='.section-selector-1') Чистка лица
                    .selector__slide
                        .selector__slide-inner(data-active='.section-selector-2') Химические <br> пилинги
                    .selector__slide
                        .selector__slide-inner(data-active='.section-selector-3') Мезотерапия
                    .selector__slide
                        .selector__slide-inner(data-active='.section-selector-4') Биоревитализация
                    .selector__slide
                        .selector__slide-inner(data-active='.section-selector-5') Лазерное лечение <br> акне Elit+
            .selector__dots

    section.section-selector-1.section-selector-no-active
        .container
            .intro-section__wrapper
                .intro-section__inner(style='flex-direction: row-reverse')
                    .intro-section__img
                        +setImg({
                            webp: 'images/content/selector/0-pc.webp',
                            img: 'images/content/selector/0-pc.jpg',
                            set: 'images/content/selector/0-mb'
                        })
                    .intro-section__data
                        .intro-section__titles-wrapper
                            .intro-section__titles-wrapper
                                div(class='intro-section__subtitle' style='text-align: center;')
                                    h2.title.custom-small Чистка лица
                        .intro-section__text
                            p Это интенсивная процедура по очищению кожи, выравниванию ее цвета, осветлению и уменьшению комедонов, сокращению пор, улучшению обменных процессов.
                            p Процедура включает в себе более 10 этапов, которые полностью выполняются на профессиональной косметике.
                            p Чистку лица необходимо проводить регулярно, посещая кабинет косметолога каждые 3-4 недели.
                        .price-section__table-wrapper.style-4.style-3
                            .price-section__table-inner
                                .price-section__titles-wrapper
                                    div(class='intro-section__subtitle' style='text-align: center;')
                                        h2.title.custom-small Чистка лица
                                .price-section__data-wrapper.style-4.slider-data-1
                                    .price-section__data-col(style='width: 100%')
                                        .price-section__data.style-4.style-3
                                            +priceRow4({
                                                left: '<span>Атравматическая чистка лица</span>',
                                                right: '<span class="active-color">1750 ₽</span>'
                                            })
                                            +priceRow4({
                                                left: '<span>Атравматическая + механическая чистка лица</span>',
                                                right: '<span class="active-color">2150 ₽</span>'
                                            })
                                .price-section__dots.slider-data-1
    section.section-selector-2.section-selector-no-active
        .container
            .intro-section__wrapper
                .intro-section__inner(style='flex-direction: row-reverse')
                    .intro-section__img
                        +setImg({
                            webp: 'images/content/selector/1-pc.webp',
                            img: 'images/content/selector/1-pc.jpg',
                            set: 'images/content/selector/1-mb'
                        })
                    .intro-section__data
                        .intro-section__titles-wrapper
                            .intro-section__titles-wrapper
                                div(class='intro-section__subtitle' style='text-align: center;')
                                    h2.title.custom-small Химические пилинги
                        .intro-section__text
                            p Поверхностные, срединные и глубокие пилинги – выполняются по показаниям и дают видимый результат в процессе лечения акне.
                            p Принцип их действия заключается в удалении рогового слоя кожи. Благодаря этому удается достичь очищения, сужения пор, противовоспалительного действия, осветления застойных пятен, выравнивания рельефа кожи.
                            p Химический пилинг, количество процедур и их частота – назначаются врачом-косметологом в индивидуальном порядке.
                        .price-section__table-wrapper.style-3
                            .price-section__table-inner
                                .price-section__titles-wrapper
                                    .intro-section__titles-wrapper
                                        div(class='intro-section__subtitle' style='text-align: center;')
                                            h2.title.custom-small Стоимость процедуры
                                .price-section__data.style-3
                                    // item - BOLD
                                    +priceRowClean({
                                        left: '<span class="text-bold">Пилинги Time Code:</span>'
                                    })
                                    // item - REGULAR
                                    +priceRow444({
                                        left: '<span class="padding-left">Light Classic</span>',
                                        right: '<span class="active-color">1830 ₽</span>'
                                    })
                                    +priceRow444({
                                        left: '<span class="padding-left">Пилинг желтый BASIC</span>',
                                        right: '<span class="active-color">3100 ₽</span>'
                                    })
                                    +priceRow444({
                                        left: '<span class="padding-left">Пилинг желтый BASIC + Light Classic</span>',
                                        right: '<span class="active-color">4200 ₽</span>'
                                    })
                                    +priceRowClean({
                                        left: '<span class="text-bold">Пилинги Mediderma:</span>'
                                    })
                                    +priceRow444({
                                        left: '<span class="padding-left">Салициловый</span>',
                                        right: '<span class="active-color">2100 ₽</span>'
                                    })
                                    +priceRow444({
                                        left: '<span class="padding-left">Азелаиновый</span>',
                                        right: '<span class="active-color">2100 ₽</span>'
                                    })
                                    +priceRow444({
                                        left: '<span class="padding-left">Феруловый</span>',
                                        right: '<span class="active-color">2300 ₽</span>'
                                    })
                                    +priceRow444({
                                        left: '<span class="padding-left">Миндальный</span>',
                                        right: '<span class="active-color">2300 ₽</span>'
                                    })
                                    +priceRow444({
                                        left: '<span class="padding-left">Пилинг Джеснера</span>',
                                        right: '<span class="active-color">2940 ₽</span>'
                                    })
                                    +priceRow444({
                                        left: '<span class="text-bold">BioRePeelC13</span>',
                                        right: '<span class="active-color">3050 ₽</span>'
                                    })




    section.section-selector-3.section-selector-no-active
        .container
            .intro-section__wrapper
                .intro-section__inner(style='flex-direction: row-reverse')
                    .intro-section__img
                        +setImg({
                            webp: 'images/content/selector/2-pc.webp',
                            img: 'images/content/selector/2-pc.jpg',
                            set: 'images/content/selector/2-mb'
                        })
                    .intro-section__data
                        .intro-section__titles-wrapper
                            .intro-section__titles-wrapper
                                div(class='intro-section__subtitle' style='text-align: center;')
                                    h2.title.custom-small Мезотерапия
                        .intro-section__text
                            p Это инъекционная техника введения мезококтейлей непосредственно в кожу. Мезотерапия оказывает себорегулирующие действие, предупреждает формирование микрокомедонов, устраняет пигментацию, пятна, следы пост-акне, укрепляет стенки кровеносных и лимфатических сосудов.
                            p Курс мезотерапевтических процедур назначает врач-косметолог после очного осмотра и сбора анамнеза. Обычно он составляет 4-6 процедур с интервалом 7-10 дней.
                        .price-section__table-wrapper.style-3
                            .price-section__table-inner
                                .price-section__titles-wrapper
                                    .intro-section__titles-wrapper
                                        div(class='intro-section__subtitle' style='text-align: center;')
                                            h2.title.custom-small Стоимость процедуры
                                .price-section__data.style-3
                                    // item - REGULAR
                                    +priceRow444({
                                        left: '<span class="padding-left">Mesoline clear </span>',
                                        right: '<span class="active-color">2800 ₽</span>'
                                    })
                                    +priceRow444({
                                        left: '<span class="padding-left">Viskoderm Skinko </span>',
                                        right: '<span class="active-color">1900 ₽</span>'
                                    })
                                    +priceRow444({
                                        left: '<span class="padding-left">Viscoderm skinko E </span>',
                                        right: '<span class="active-color">2500 ₽</span>'
                                    })

    section.section-selector-4.section-selector-no-active
        .container
            .intro-section__wrapper
                .intro-section__inner(style='flex-direction: row-reverse')
                    .intro-section__img
                        +setImg({
                            webp: 'images/content/selector/3-pc.webp',
                            img: 'images/content/selector/3-pc.jpg',
                            set: 'images/content/selector/3-mb'
                        })
                    .intro-section__data
                        .intro-section__titles-wrapper
                            .intro-section__titles-wrapper
                                div(class='intro-section__subtitle' style='text-align: center;')
                                    h2.title.custom-small Биоревитализция
                        .intro-section__text
                            p Инъекционная процедура, способствующая глубокому увлажнению кожи, нормализации выработки кожного сала, сокращению пор, приданию сияния, выравниванию тона кожи, повышению ее упругости.
                            p Многие ошибочно полагают, что жирная кожа с воспалениями не нуждается в увлажнении. Напротив – нуждается, и даже очень!
                            p Пересушивание провоцирует еще большее продуцирование сала, что усугубляет проблему акне.
                            p Поэтому коже буквально необходимо качественное увлажнение.
                            p Курс биоревитализации и его продолжительность в первую очередь зависит от показаний и препарата.

            div(class='intro-section__subtitle' style='text-align: center;')
                h2.title.custom-small Стоимость процедуры
            .custom-flex
                .custom-flex__col
                    .price-section__table-wrapper.style-3
                        .price-section__table-inner
                            .price-section__data.style-3
                                // item - REGULAR
                                +priceRow444({
                                    left: '<span class="padding-left">Aquashine 2 мл</span>',
                                    right: '<span class="active-color">8400 ₽</span>'
                                })
                                +priceRow444({
                                    left: '<span class="padding-left">Aquashine BR 2 мл</span>',
                                    right: '<span class="active-color">8400 ₽</span>'
                                })
                                +priceRow444({
                                    left: '<span class="padding-left">Belotero Hydro 1мл</span>',
                                    right: '<span class="active-color">7900 ₽</span>'
                                })
                                +priceRow444({
                                    left: '<span class="padding-left">HYALUFORM 1% 1,5мл</span>',
                                    right: '<span class="active-color">4300 ₽</span>'
                                })
                                +priceRow444({
                                    left: '<span class="padding-left">Innea 2мл</span>',
                                    right: '<span class="active-color">8200 ₽</span>'
                                })
                                +priceRow444({
                                    left: '<span class="padding-left">Meso-Wharton 1.5 мл</span>',
                                    right: '<span class="active-color">9900 ₽</span>'
                                })
                                +priceRow444({
                                    left: '<span class="padding-left">Meso-Xantin 1.5 мл</span>',
                                    right: '<span class="active-color">9900 ₽</span>'
                                })

                .custom-flex__col
                    .price-section__table-wrapper.style-3
                        .price-section__table-inner
                            .price-section__data.style-3
                                // item - REGULAR
                                +priceRow444({
                                    left: '<span class="padding-left">NCTF 135 (Filorga) 3 мл</span>',
                                    right: '<span class="active-color">3400 ₽</span>'
                                })
                                +priceRow444({
                                    left: '<span class="padding-left">NCTF 135HA (Filorga) 3 мл</span>',
                                    right: '<span class="active-color">5400 ₽</span>'
                                })
                                +priceRow444({
                                    left: '<span class="padding-left">Profhilo 2 мл</span>',
                                    right: '<span class="active-color">14900  ₽</span>'
                                })
                                +priceRow444({
                                    left: '<span class="padding-left">Revi Silk 1 мл</span>',
                                    right: '<span class="active-color">10900 ₽</span>'
                                })
                                +priceRow444({
                                    left: '<span class="padding-left">Revi Silk 2 мл</span>',
                                    right: '<span class="active-color">14900 ₽</span>'
                                })
                                +priceRow444({
                                    left: '<span class="padding-left">Revi Strong 2 мл</span>',
                                    right: '<span class="active-color">16900 ₽</span>'
                                })
                                +priceRow444({
                                    left: '<span class="padding-left" style="opacity: 0; visibility: hidden"> sdfsf</span>',
                                    right: '<span class="active-color" style="opacity: 0; visibility: hidden"> sdfsf</span>'
                                })
    section.section-selector-5.section-selector-no-active
        .container
            .intro-section__wrapper
                .intro-section__inner(style='flex-direction: row-reverse')
                    .intro-section__img
                        +setImg({
                            webp: 'images/content/selector/4-pc.webp',
                            img: 'images/content/selector/4-pc.jpg',
                            set: 'images/content/selector/4-mb'
                        })
                    .intro-section__data
                        div(class='intro-section__subtitle' style='text-align: center;')
                            h2.title.custom-small Лазерное лечение акне Elit+
                        .intro-section__text
                            p С помощью современных лазерных медицинских систем – также можно активно бороться с проблемой акне и усиливать эффект сопутствующих процедур курса.
                            p В клинике «Orhi» в составе комплексной терапии врачи-косметологи проводят также процедуру лазерного лечения акне на неодимовом американском лазере Elit+.
                            p В ходе процедуры проходит активное воздействие на кожу лазерным лучом. Благодаря такой обработке удается достичь выраженное противовоспалительное действие, увлажнение кожи, сокращение пигментных пятен, выравнивание кожного покрова.
                            p В основе воспаления большую роль занимают микроорганизмы Propionibacterium acne, stafilococcus aureus.
                            p В состав этих бактерий входит белок, элементы которого способны поглощать энергию лазера. А, соответственно, лазер может эффективно способствовать разрешению проблемы акне.
                            p При обработке воспалительного элемента лазерным лучом – возникает термическое повреждение клеток бактерий.
                            p Средний курс лечения обычно составляет 4 процедуры с интервалом 10-14 дней.
                            p Также с помощью лазера можно обрабатывать точечные воспалительные элементы.
                        div(class='intro-section__subtitle' style='text-align: center;')
                            h2.title.custom-small Стоимость процедуры
                        .price-section__table-wrapper.style-3
                            .price-section__table-inner
                                .price-section__data.style-3
                                    // item - REGULAR
                                    +priceRow444({
                                        left: '<span class="padding-left">Единичный элемент </span>',
                                        right: '<span class="active-color">300 ₽</span>'
                                    })
                                    +priceRow444({
                                        left: '<span class="padding-left">Лицо полностью </span>',
                                        right: '<span class="active-color">2100 ₽</span>'
                                    })
mixin priceRowClean(object)
    .price-section__row.flex-start
        .price-section__col.price-section__col-left !{object.left}
mixin yesList(object)
    li.close
        img(src="images/yes-check--white.png").icon
        span !{object.text}
mixin priceRow(object)
    .price-section__row
        .price-section__col.price-section__col-left !{object.left}
        if(object.center)
            .price-section__col.price-section__col-center !{object.center}
        .price-section__col.price-section__col-right !{object.right}
mixin priceRow4(object)
    .price-section__row
        .price-section__col.price-section__col-left !{object.left}
        .price-section__col.price-section__col-right !{object.right}
mixin priceRowClean4(object)
    .price-section__row.flex-start
        .price-section__col.price-section__col-left !{object.left}
mixin priceRow444(object)
    .price-section__row
        .price-section__col.price-section__col-left(style='width: 100%; max-width: 70%') !{object.left}
        .price-section__col.price-section__col-right(style='width: 100%; max-width: 30%') !{object.right}
